/* utility */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.row{
  margin: 0 -15px;
}

[class^="col-"]{
  float:left;
  padding: 0 15px;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

.col-100{
  width:100%;
}

.col-50{
  width: 50%;
}

.col-70{
  width: 70%;
}

.col-30{
  width: 30%;
}

.col-33{
  width: 33%;
}

.col-25{
  width: 25%;
}

.but-orange{
  border: 1px solid #fe785a;
  background-color: #fe785a;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 15px;
}

/* utility */

/* nav */
nav{
  height: 85px;
  line-height: 85px;
}

#nav-fixed{
  background-color: #f4f9fd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #32495b;
}
div .logo{
  display: inline-block;
}
nav ul{
  list-style: none;
  display: inline-block;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-size: 17px;
  font-family: Montserat, sans-serif;
  margin-right: 25px;
}

/* nav fixed left */
.color-text li a{
  color: #32495b;
}

#vert-bord{
  border-left: 2px solid #32495b;
  padding-left: 20px;
}
/* nav fixed left */

/* nav fixed right */
.text-right{
  float: right;
}

.fa-search{
  color: #00a4bd;
}

#but-login{
  border: 1px solid #fe785a;
  color: #fe785a;
  padding: 10px;
  border-radius: 5px;
}

.text-right li .but-orange{
  padding: 10px;
}
/* nav fixed right */

.pos-rel{
  position: relative;
}

.nav-notfix{
  position: absolute;
  top: 85px;
}


/* nav */
