/* utility */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.row{
  margin: 0 -15px;
}

[class^="col-"]{
  float:left;
  padding: 0 15px;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

.col-100{
  width:100%;
}

.col-50{
  width: 50%;
}

.col-70{
  width: 70%;
}

.col-30{
  width: 30%;
}

.col-33{
  width: 33%;
}

.col-25{
  width: 25%;
}
/* utility */
nav{
  height: 100px;
  line-height: 100px;
}

#nav-fixed{
  background-color: #f4f9fd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav ul{
  list-style: none;
  display: inline-block;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-size: 17px;
  font-family: Montserat, sans-serif;
}

.text-right{
  float: right;
}

.color-text li a{
  color: #32495b;
}
